<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="bean1" class="org.example.Student">
        <property name="id" value="1"/>
        <property name="name" value="Narsing Patil"/>
        <property name="email" value="narsingpatil9824@gmail.com"/>
    </bean>

    <bean id="bean2" class="org.example.Student">
        <property name="id" value="2"/>
        <property name="name" value="Kapil Hingole"/>
        <property name="email" value="kapilhingole@gmail.com"/>
    </bean>


</beans>
